:root {
    --clr-glow: hsl(181, 100%, 49%);
    --clr-bg: hsl(323 21% 16%);
    --gradient: linear-gradient(90deg, #f2543f, rgb(30, 0, 225), #f2543f);

  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  


  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-bg);
    color: var(--clr-glow);
  }
  
  h1 {
    font-family: 'Major Mono Display', monospace; 
    background-image: var(--gradient);
    background-size: 200%;
    transition: 0.9s;
    background-position: left;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }

  h1:hover {
    background-position: right;
  }
  
  .neon-button {
    font-size: 5rem;
    justify-content: center;
    align-items: center;    
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-glow);
    border: var(--clr-glow) 0.125em solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-glow), 0 0 0.5em 0 var(--clr-glow);
    font-family: 'Monoton', cursive;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  
  .neon-button::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-glow);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
    filter: blur(1em);
    opacity: 0.5;
  }
  
  .neon-button::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em var(--clr-glow);
    opacity: 0;
    background-color: var(--clr-glow);
    z-index: -1;
    transition: opacity 30ms linear;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  