@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@font-face {
    font-family: 'Mona Sans';
    src:
      url('./somestuff/Mona Sans/Mona-Sans.woff2') format('woff2 supports variations'),
      url('./somestuff/Mona Sans/Mona-Sans.woff2') format('woff2-variations');
    font-weight: 200 900;
    font-stretch: 75% 125%;
}
  
* {
    transition: 300ms;
}

:root {
    --smooth-anim: cubic-bezier(0.2, 0, 0.001, 1);
    --green: #a8cd23;
    --bruh-purple: #4c1140;
    --res-grey: #434343;
    --big-padding: calc(.200em + 1vw);
    --small-padding: calc(.07em + .5vw);
}


*::-moz-selection {
    color: #4c1140;
    background-color: #a8cd23;
}
  
  *::selection {
    color: #4c1140;
    background-color: #a8cd23;
}

body {
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    max-height: fit-content;
    flex-direction: column;
    overflow-x: hidden;
    margin: 0;
}

body.theme1 {
    background-color: #31202B;
}

body.theme2WORKING-ON-IT {
    background-image: linear-gradient(to bottom, #004786, #031F99);
}

body.theme3 {
    background-color: #4c1140;
}

*.theme3 {
    color: #A8CD23;
}


h6.themeButton {
    font-family: "Press Start 2P", cursive;
    background-color: white;
    color: black;
    font-size: .6em;
    text-transform: uppercase;
    user-select: none;
}

.themeButton:hover {
    text-decoration: underline;
    cursor: grab;
}

.themeButton:active{
    background-color: black;
    color: white;
}


#blurbox {
    position: absolute;
    width: 100%;
    height: 500%;
    z-index: 100;
    transition: .5s cubic-bezier(0.8, 0, 0.2, 1);
    opacity: 1;
    -moz-backdrop-filter: blur(2em);
    -webkit-backdrop-filter: blur(2em);
    backdrop-filter: blur(2em);
    background-color: #00000080;
}

#blurbox.hidden {
    -moz-backdrop-filter: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
}

.source {
    position: absolute;
    left: 0;
    top: 0;
}

.source a {
    text-decoration: none;
    text-decoration-color: white;
}

.source a:hover {
    text-decoration: underline;
    text-decoration-color: white;

}

.source p {
    font-size: 1em;
    padding: .5em;
    font-family: "Press Start 2P", cursive;
}

.source p.theme1 {
    color: #A8CD23;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

.source.theme3 {
    color: #A8CD23;
}

footer {
    height: fit-content;
    padding: 1em 0 1em 0;
    width: 100%;
    margin-bottom: 0;
    margin-top: 2em;
    border-top: 0.05em white solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

footer h4 {
    margin-right: auto;
}

footer.theme1 {
    border-top: 0.05em #A8CD23 solid;
}

footer h4.theme1 {
    color: #A8CD23;
}

footer.theme3 {
    border: none;
    background-color: #310b22;
    box-shadow: #310b22 0px -.5em 1em 0;
    
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

footer img  {
    width: 2em;
    margin: .5em;
}

.mainLogo {
    width: 10em;
    transform: scale(4.5) translateY(40%);
    margin: 1em;
    margin-bottom: 0;
    z-index: 100;
    transition: .5s cubic-bezier(0.8, 0, 0.2, 1);
}


.subheading {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    font-size: calc(1.1em + .4vw);
    margin: 2em auto 1em -1em;
    padding: calc(.07em + .5vw) calc(.07em + .5vw) calc(.07em + .5vw) 4em;
}

.subheading.theme1 {
    background-image: linear-gradient(to right, #f2543f, #2d13d3);
    -webkit-background-clip: text;
    font-family: 'Major Mono Display', monospace;
    -webkit-text-fill-color: transparent;
    border: .14em #A8CD23 solid;
    background-size: 150%;
    background-position: left;
    border-radius: .3em;
    transition: 200ms;
    font-weight: 900;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

.subheading.theme1:hover {
    background-position: right;
}

.subheading.theme3 {
    background-color: #310b22;
    color: #FECD17;
    border-radius: .2em;
    box-shadow: #00000042 9px 9px 10px;
}

li {
    list-style-type: "<> ";
}

h1 {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    font-size: calc(1.1em + .4vw);
    margin: 1em;
    padding: 1em;
}

h2 {
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 2em;
    margin: 1em;
    text-align: center;
}

h2.theme1 {
    color: #A8CD23;
    text-shadow: 0 0 .3em #A8CD23;
}

h3 {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    font-size: 1em;
    margin: 1em 1em 0em 1em;
    padding: 1em;
    text-align: center;
}

h3.theme3 {
    background-color: #310b22;
    border-radius: .3em;
    color: #FECD17;
}

h3.theme1 {
    background-image: linear-gradient(to right, #f2543f, #2d13d3);
    color: #A8CD23;
    text-shadow: 0 0 .5em black;
    border: .05em #A8CD23 solid;
    border-bottom: none;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

h4 {
    font-family: "Press Start 2P", cursive;
    color: white;
    font-size: 1em;
    margin: 1em;
    text-align: left;
}

h5 {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;    
    font-size: .7em;
    padding: .7em;
    margin: 1em;
}

h4, h5 {
    line-height: 150%;
}

h6 {
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 0em 1em 1em 1em;
    border: white .05em solid;
    border-top: none;
    padding: 1em;
    font-size: 1em;
}

h6.theme3 {
    color: #A8CD23;
    border: none;
}

h6.theme1 {
    color: #A8CD23;
    text-shadow: .1em .1em .2em black;
    border: #A8CD23  .05em solid;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

p {
    color: white;
    font-family: 'Roboto Mono', monospace;
    margin: 1em;
    border: white .05em solid;
    padding: 1em;
    font-size: 1em;
}

p.theme1 {
    border: #A8CD23 .05em solid;
    color: #A8CD23;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

p.theme3 {
    border: none;
    background-color: #310b22;
    border-radius: .3em;
    color: #A8CD23;
    font-weight: 500;
    box-shadow: #00000042 9px 9px 10px;
}

.title {
    font-family: "Press Start 2P", cursive;
    color: black;
    background-color: white;
    font-size: calc(1.5em + 1.6vw);
    margin: 1em;
    text-align: center;
    padding: calc(.200em + .5vw);
}

.title.theme1 {
    background-color: transparent;
    color: #A8CD23;
    border: .14em #A8CD23 solid;
    border-radius: .3em;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em 0em #A8CD23;
}

.title.theme1:hover {
    background-color: #A8CD23;
    color: #31202B;
    cursor:auto;
}

.title.theme3 {
    background-color: #310b22;
    color: #A8CD23;
    border-radius: .3em;
    box-shadow: #00000042 9px 9px 10px;
}

.aboutTal {
    min-width: 30%;
    height: fit-content;
    padding: 0.5em;
    border: white .05em solid;
    margin: 1em;
}

.aboutTal.theme1 {
    border: #A8CD23 .05em solid;
    border-radius: .3em;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em #A8CD23;
}

.aboutTal.theme3 {
    border: none;
    background-color: #310b22;
    border-radius: .3em;
    box-shadow: #00000042 9px 9px 10px;
}

.aboutTal > h2 {
    font-size: 1em;
}

.aboutTal h6.theme3 {
    background-color: #a8cd2321;
    border-radius: .3em;
}

.flexbox.projects {
    display: flex;
    justify-content: center;
    align-items: self-start;
    width: 100%;
    flex-wrap: wrap;
    gap: 3em;
}

.iazeem {
    opacity: .6;
}

.card.theme1 {
    border: .14em #A8CD23 solid;
    border-radius: .3em;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em #A8CD23;
}

.card {
    border: white .05em solid;
    padding: 2em;
    width: 17em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 1em 0 1em 0;
}

.card.theme3 {
    background-color: #310b22;
    border: none;
    border-radius: .3em;
    box-shadow: #00000042 9px 9px 10px;
}

.card h6 {
    font-weight: 400;
    width: 15.85em;
}

.card h6.theme3 {
    font-weight: 500;
    background-color: #a8cd2321;
    border-radius: .3em;
}

.card h3 {
    width: 16em;
}

.card p {
    width: 16em;
    box-shadow: none;
}

.card p.theme3 {
    background-color: #a8cd2321;
    border-radius: .3em;
}


.link {
    width: 113%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
    font-size: 1em;
    text-decoration: none;
    font-weight: 900;
    margin-top: 1em;
}

a.theme1 {
    background-color: #A8CD23;
}

a.theme3 {
    background-color: #a8cd232d;
    font-family: "Press Start 2P", cursive;
    color: #FECD17;
    text-shadow: .1em .1em .2em black;
}

.card > a.theme3 {
    width: 111.5%;
}

.linkbox.theme3 {
    background-color: #310b22;
    padding: 0;
    border-radius: .3em;
    text-decoration-color: #A8CD23;
    margin-top: -10px;
}

.linkbox {
    text-decoration-color: white;
}

.linkbox h6 {
    font-weight: 400;
}

.link:hover {
    text-decoration: underline;
}

.bruhcorp, .sauron {
    padding: .6em;
    width: fit-content;
    color: #a8cd23;
    transition-duration: 150ms;
    border-radius: .2em;
    font-family: "Press Start 2P", cursive;
    font-size: 2.5em;
    color: #a8cd23;
    text-align: center;
    text-decoration: none;
    line-height: 120%;
    background-color: #4c1140;
    user-select: none;
    margin: .5em;
}

.sauron {
    color: #FECD17;
    font-size: 2em;
    background-color: transparent;
    margin: 0;
}


.bruhcorp:hover, .sauron:hover {
    transition-duration: 120ms;
    transform: scale(1.04);
    text-shadow: black 0.6px 0.6px 1.2px, #a8cd23 1.2px 1.2px 1.2px, black 3.6px 3.6px 1.2px, #a8cd23 4.8px 4.8px 1.2px, black 6px 6px 1.2px, #a8cd23 7.2px 7.2px 1.2px;
    background-color: #4c1140;
}


.sauron:hover {
    text-shadow: black 0.6px 0.6px 1.2px, 
    #FECD17 1.2px 1.2px 1.2px, 
    black 3.6px 3.6px 1.2px, 
    #FECD17 4.8px 4.8px 1.2px, 
    black 6px 6px 1.2px, 
    #FECD17 7.2px 7.2px 1.2px;
    background-color: transparent;
}

.bruhcorp:active {
    background-color: #310b22;
}

.sandr  {
    width: 12em;
    margin: -2em;
}

.eosimg {
    width: 12em;
    margin: -2em;
}

.flexbox.ass {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.flexbox.ass img {
    margin: 1em;
    width: 5em;
    border: white .05em solid;
    background-color: black;
}

.ass img.theme1 {
    border: .14em #A8CD23 solid;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em #A8CD23;
}

.ass img.theme3 {
    border: none;
    box-shadow: #00000042 9px 9px 10px;
    background-color: #310b22;
    border-radius: .3em;
}

.flexbox.flexcolor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

.colorbox {
    color: white;
    margin: 1em;
    width: 10em;
}

.colorbox {
    border: white .05em solid;
}

.colorbox h6.theme1 {
    border: .14em #A8CD23 solid;
}

.colorbox.theme1 {
    border: .14em #A8CD23 solid;
    box-shadow: 0 0 .5em 0em #A8CD23, inset 0 0 .5em #A8CD23;
}


.colorbox.theme3 {
    border: none;
    padding: .3em;
    background-color: #310b22;
    border-radius: .3em;
    box-shadow: #00000042 9px 9px 10px;
}

.colorbox h6 {
    margin: 0;
    text-align: center;
    border: white .05em solid;
}

.colorbox h6.theme3 {
    border: none;
}

.themeButton.theme1 {
    background-color: transparent;
}

.themeButton.theme3 {
    background-color: #a8cd232c;
    color: #FECD17;
    text-shadow: .1em .1em .2em black;
}

.colors {  
    height: 3em;
    width: 100%;
}

.heritage {
    background-image: linear-gradient(to right, 
    #31202B    20%, 
    #A8CD23  50%, 
    #f2543f   50%, 
    #2d13d3 85%, 
    #2d13d3 100%);  
}

.lapis {
    background-image: linear-gradient(45deg, #004786, #031F99);
}

.bc {
    background-image: linear-gradient(to right, #4C1140 40%, #A8CD23);
}

.yoasobi {
    background-image: linear-gradient(to right,
    #F55875 0%,
    #F55875 33.33%,
    #8CEBEE 33.33%,
    #8CEBEE 66.66%,
    #36748D 66.66%,
    #36748D 100%);
}

.classic {
    background-image: linear-gradient(to right, black 40%, white);
}

.contacts.theme1 {
    background-color: #A8CD23;
}

.contacts.theme3 {
    background-color: #310b22;
    border-radius: .3em;
}

.contacts a.theme3 {
    background-color: transparent;
}

.contacts h5.theme1 {
    background-color: transparent;
}

.contacts h5.theme3 {
    background-color: transparent;
    color: #FECD17;
    text-shadow: .1em .1em .2em black;
}


footer h4.theme3 {
    background-color: #310b22;
    color: #A8CD23;
    padding: .5em;
    border-radius: .3em;
    text-shadow: .1em .1em .2em black;
}


.synaptic {
    font-family: 'Mona Sans';
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.synaptic header {
    color: white;
    line-height: 75%;
    text-shadow: black .001em .001em .07em;
    font-weight: 900;
    font-stretch: 125%;
    transform: skew(-10deg);
    margin: 0;
    -webkit-text-stroke: .0007em black;
    margin: 1em;
    font-size: 2.11em;
    margin: 0;
}

.synaptic img {
    width: 10em;
    border-radius: .5em;
    margin-bottom: -3.078em;
}

@media only screen and (max-width: 768px) {
    .mainLogo {
        transform: scale(3.4) translateY(50%);
    }
}

@media only screen and (max-width: 767px) {
    p, h3, h6 {
        font-size: .75em;
    } 

    .card p, .card h6 {
        width: 100%;
    }
    .card h3 {
        width: 101%;
    }
}
